body {
  margin: 0;
  color: rgb(255, 255, 255);
}

section {
  padding-top: 30vh !important;
}

.gris {
  color: rgb(73, 74, 83);
}

h2 {
  margin-left: 5rem;
  font-size: 3em;
}

#pageDestination {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#pageDestination .planet {
  padding: 2rem 5rem;
  display: flex;
}
#pageDestination .planet h3 {
  font-size: 4em;
  margin: 0;
  margin-top: 1rem;
}
#pageDestination .planet hr {
  width: 100%;
  height: 1px !important;
  border: none;
  background-color: rgb(73, 74, 83);
}
#pageDestination .planet div {
  flex: 1;
}
#pageDestination .planet .planetImg {
  flex: 2;
}
#pageDestination .planet .planetImg img {
  width: 80%;
  aspect-ratio: 1/1;
}
#pageDestination .planet .planetDescription {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#pageDestination .planet .planetDescription nav {
  display: flex;
  justify-content: space-evenly !important;
  align-items: center;
}
#pageDestination .planet .planetDescription nav a {
  text-decoration: none;
  color: rgb(210, 216, 249);
  padding-bottom: 1rem;
}
#pageDestination .planet .planetDescription .active {
  border-bottom: 2px solid rgb(255, 255, 255);
}
#pageDestination .planet .planetDescription > p {
  color: rgb(210, 216, 249);
}
#pageDestination .planet .planetDescription > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#pageDestination .planet .planetDescription > div > * {
  margin: 0.2rem 0;
}
#pageDestination .planet .planetDescription > div h5 {
  font-size: 0.8rem;
  color: rgb(210, 216, 249);
}
#pageDestination .planet .planetDescription > div p {
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  #pageDestination {
    background-image: url("./assets/bg_destination/background-destination-desktop.jpg");
  }
}
@media screen and (max-width: 768px) and (min-width: 425px) {
  #pageDestination {
    background-image: url("./assets/bg_destination/background-destination-desktop.jpg");
  }
}
@media screen and (max-width: 425px) {
  #pageDestination {
    background-image: url("./assets/bg_destination/background-destination-desktop.jpg");
  }
}

#pageTech {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#pageTech .divCentral {
  width: 50%;
}
#pageTech .techContainer {
  align-items: center;
  box-sizing: border-box;
  padding: 4rem;
  display: flex;
  gap: 5rem;
}
#pageTech nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
#pageTech nav a {
  border-radius: 50%;
}
#pageTech nav button {
  color: rgb(255, 255, 255);
  height: 5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgb(255, 255, 255) !important;
  transition: 0.2s;
}
#pageTech nav button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
#pageTech nav .active button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
#pageTech div:first-child {
  flex: 1;
}
#pageTech div:nth-of-type(2) {
  flex: 3;
}
#pageTech div:last-of-type {
  flex: 2;
}
#pageTech div:last-of-type img {
  width: 100%;
  min-width: 400px;
}
@media screen and (min-width: 768px) {
  #pageTech {
    background-image: url("./assets/bg_crew/background-crew-desktop.jpg");
  }
}
@media screen and (max-width: 768px) and (min-width: 425px) {
  #pageTech {
    background-image: url("./assets/bg_crew/background-crew-tablet.jpg");
  }
}
@media screen and (max-width: 425px) {
  #pageTech {
    background-image: url("./assets/bg_crew/background-crew-mobile.jpg");
  }
}

#pageCrew {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
#pageCrew .crew {
  padding: 5rem;
  display: flex;
  justify-content: space-around;
}
#pageCrew .crew .titre {
  color: rgb(210, 216, 249);
  font-size: 2em;
  margin: 0;
  margin-bottom: 1rem;
}
#pageCrew .crew .nom {
  margin: 0;
  margin-bottom: 3rem;
  color: rgb(255, 255, 255);
  font-size: 2.5em;
}
#pageCrew .crew .textCrew {
  gap: 5rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#pageCrew .crew .imgCrew {
  width: 40%;
}
#pageCrew .crew .imgCrew img {
  width: 100%;
}
#pageCrew .crew #crewNav {
  display: flex;
  justify-content: space-evenly;
}
#pageCrew .crew #crewNav a {
  border-radius: 50%;
  display: block;
  background-color: rgb(73, 74, 83);
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}
#pageCrew .crew #crewNav .active {
  background-color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  #pageCrew {
    background-image: url("./assets/bg_crew/background-crew-desktop.jpg");
  }
}
@media screen and (max-width: 768px) and (min-width: 425px) {
  #pageCrew {
    background-image: url("./assets/bg_crew/background-crew-tablet.jpg");
  }
}
@media screen and (max-width: 425px) {
  #pageCrew {
    background-image: url("./assets/bg_crew/background-crew-mobile.jpg");
  }
}

#homePage {
  min-height: 100vh;
  display: flex;
  padding: 5rem 4rem;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
#homePage div {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
#homePage #homeText {
  width: 50%;
}
#homePage #homeText p {
  width: 70%;
  margin: 0;
}
#homePage #homeText p:first-child {
  font-size: 1.3rem;
}
#homePage #homeText p:last-child {
  font-size: 1rem;
}
#homePage #homeText h1 {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 9em;
}
#homePage #homeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
#homePage #homeBtn a {
  width: 90%;
  aspect-ratio: 1/1;
}
#homePage #homeBtn a button {
  border: none;
  font-size: 1.3rem;
  font-weight: 200;
  cursor: pointer;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
}
#homePage #homeBtn a button:hover {
  filter: brightness(0.8);
}
@media screen and (min-width: 768px) {
  #homePage {
    background-image: url("./assets/home/background-home-desktop.jpg");
  }
}
@media screen and (max-width: 768px) and (min-width: 425px) {
  #homePage {
    background-image: url("./assets/home/background-home-tablet.jpg");
  }
}
@media screen and (max-width: 425px) {
  #homePage {
    background-image: url("./assets/home/background-home-mobile.jpg");
  }
}

#navBase {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  top: 1rem;
  z-index: 2;
}
#navBase .logo {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#navBase .space {
  height: 1px;
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
  align-self: center;
  margin: 0 1rem;
}
#navBase .link {
  backdrop-filter: blur(4px);
  background-color: rgba(73, 74, 83, 0.2);
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1rem 5rem;
  padding-right: 15vw;
  padding-left: 10vw;
  gap: 2rem;
}
#navBase a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 1rem 0;
}
#navBase .active {
  border-bottom: 1px solid rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
  #homePage {
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #homePage #homeText {
    width: 100%;
    align-items: center;
  }
  #homePage .pageBody {
    align-items: center;
  }
  .planet {
    flex-direction: column-reverse;
    gap: 5rem;
    align-items: center;
    justify-content: center;
  }
  .planet .planetImg {
    display: flex;
    justify-content: center;
  }
  .planet .planetImg img {
    width: 100%;
  }
  .techContainer {
    flex-wrap: wrap;
  }
  #navBase .link {
    padding: 0.2rem 0.5rem;
  }
  #navBase a {
    padding: 1rem 0.2rem;
  }
}

/*# sourceMappingURL=index.css.map */
